*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

input{
    display: none;
}

.container{
    width: 100%;
    text-align: center;
}

h1{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
}
h1::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: coral;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}



.top-content{
    background-color: aliceblue;
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(157, 159, 159);
}

.nav-links label{
    margin: 0 6px;
    padding: 6px 10px;
    cursor: pointer;
}

h3{
    height: 100%;
    background-color: rgb(184, 176, 176);
    line-height: 45px; 
    padding: 0 50px;
    color: rgb(255, 255, 255);
    margin-bottom: 40px;
}

label{
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height: 60px;
    font-size: 18px;
    color: rgb(145, 136, 136);
    cursor: pointer;
    transition: color .5s;
}
label:hover{
    color: rgb(24, 17, 17);
}
.photo-gallery{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.pics{
    position: relative;
    height: 230px;
    border-radius: 10px;
    box-shadow: 6px 6px 8px rgb(89, 91, 91);
    cursor: pointer;
    transition: .5s;
}
.pics img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;
}
.pics::before{
    content: "PHOTO GALLERY";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}
.pics::after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height: 0;
    background-color: rgb(0,0,0,.4);
    transition: .3s;
}
.pics:hover::after{
    height: 100%;
}
.pics:hover::before{
    margin-top: 0;
    opacity: 1;
}
#check1:checked ~ .container .photo-gallery .pics{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}
#check2:checked ~ .container .photo-gallery .car{
    transform: scale(1);
    opacity: 1;
    position: relative;
} 
#check2:checked ~ .container .photo-gallery .bike,
#check2:checked ~ .container .photo-gallery .bus{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .0s;
}
#check3:checked ~ .container .photo-gallery .bike{
    transform: scale(1);
    opacity: 1;
    position: relative;
} 
#check3:checked ~ .container .photo-gallery .car,
#check3:checked ~ .container .photo-gallery .bus{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .0s;
}
#check4:checked ~ .container .photo-gallery .bus{
    transform: scale(1);
    opacity: 1;
    position: relative;
} 
#check4:checked ~ .container .photo-gallery .car,
#check4:checked ~ .container .photo-gallery .bike{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .0s;
}


@media (max-width: 600px){

    .nav-links{
        width: 100%;
        background: #eee;
        padding: 10px 0;
        text-align: center;
    }

    /* 3 buttons per row */
    .nav-links label{
        display: inline-block;
        width: 30%;
        margin: 6px 0;
        padding: 8px;
        font-size: 14px;
    }

    /* gallery */
    .photo-gallery{
        grid-template-columns: repeat(1, 1fr);
    }
}